html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: #d6d4a0;
  color: #4f5e35;
}
.app {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  background-color: transparent;
  backdrop-filter: blur(30px);
  border: 1.5px solid #4f5e35;
  box-shadow: #2c351e9d 7px 7px 0px;
}

header {
  width: 100%;
  font-size: 30px;
  text-align: center;
  padding: 20px 10px;
  font-family: "Cousine", monospace;
}

.quotes {
  padding: 20px 50px;
  min-height: 100px;
}

.quote-text {
  padding-bottom: 0px;
  font-size: 1.2rem;
  color: #4f5e35;
  font-family: "Cousine", monospace;
}

.controls {
  width: 100%;
  padding: 20px 50px;
}

.button {
  display: block;
  color: #4f5e35;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  width: 100%;
  font-size: 20px;
  font-family: "Cousine", monospace;
  border: 1px solid #4f5e35;
}

.twitter {
  background-color: #89b6d276;
  text-decoration: none;
  border: 1px solid #1e7fbb;
  font-family: "Cousine", monospace;
}

.twitter:hover {
  background-color: #a1cae376;
}

.new-quote {
  background-color: #c9c895;
  margin-bottom: 15px;
  font-family: "Cousine", monospace;
}

.new-quote:hover {
  background-color: #d7d6a4;
}

.new-quote:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.credits p {
  font-size: 0.8rem;
  text-align: center;
  padding-top: 20px;
  color: #4f5e3590;
}

.credits a {
  color: #4f5e3590;
  text-underline-offset: 2px;
  text-decoration-color: #4f5e3522;
}

@media screen and (max-width: 600px) {
  .app {
    width: 100%;
  }
  .quote-text {
    font-size: 18px;
  }
}
.spinner {
  margin: 10px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner.hidden {
  visibility: hidden;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
